<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title>Pi Browser Taskbar Phoenix Example</title>
  </head>
  <body>{@inner_content}</body>
</html>
